name: Locust Performance Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-locust:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install locust

      - name: Run Locust tests (headless mode)
        run: |
          mkdir results
          locust -f Locust/Testes.py --headless -u 10 -r 2 -t 1m --host https://fakerestapi.azurewebsites.net/api/v1/Books --csv=results/locust_report

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: locust-report
          path: results/
